@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-roboto);
}

/* Optional: If you want to apply specific font weights */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; /* Bold */
}

p {
  font-weight: 400; /* Regular */
}

.font-mono {
  font-family: var(--font-roboto-mono);
}
